@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
td.selectable{
  color: #2563eb !important; /* Azul de Tailwind */
  text-decoration: underline !important; /* Subrayado */
  cursor: pointer !important; /* Mostrar como enlace */
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}




.hero__title {
  @apply 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold justify-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}

